.wrap{
    background: bisque;
    width: 900px;
    margin: 10px auto;
}
.wrap .header{
    background: burlywood;
    height: 60px;
    padding: 2px 10px;
}
.wrap .menu{
    background: rgb(243, 221, 179);
}
.wrap .menu ul{
    font-size: 18px;
    font-style: oblique;
    font-variant: initial;
    padding: 0;
    margin: 0;
    background: rgb(243, 221, 179);
    overflow: hidden;
}
.wrap .menu ul li{
    float: left;
    list-style-type: none;
    padding: 10px;
}
.clear{
    clear: both;
}
.badan{
    height: 450px;
}
.wrap .footer{
    background: orange;
    font-size: 8px;
    font-style: oblique;
    font-variant: initial;
    height: 60px;
    padding: 2px 10px;
}